body {
  background-color: #378965;
  margin: 0;
  padding: 0;
  text-align: center;
}

body * {
  color: #ffffff;
}

body h1 {
  display: inline-block;
  position: relative;
  padding: 25px 0 20px 0;
  margin: 30px 0 0 0;
}

body h1:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

body .content {
  margin-top: 50px;
}

body .content label, body .content input[type='text'], body .content input[type='button'] {
  font-size: 20px;
  line-height: 20px;
}

body .content input[type='text'] {
  background: #ffffff;
}

body .content input[type='button'] {
  background: #e6e6e6;
}

body .content input[type='text'], body .content input[type='button'] {
  height: 35px;
  padding: 0 5px;
  color: #378965;
  border: none;
}

body .content #venueResults {
  margin: 50px 60px;
  padding: 25px 0 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body .content #venueResults .error, body .content #venueResults .notSearched {
  opacity: 0.5;
}

body .content #venueResults .row .col-xs-12 .panel {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 50px;
}

body .content #venueResults .row .col-xs-12 .panel h3 {
  display: inline-block;
  position: relative;
  padding: 15px 0 10px 0;
  margin: 0 0 20px 0;
}

body .content #venueResults .row .col-xs-12 .panel h3:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

body .content #venueResults .row .col-xs-12 .panel h3 .label {
  line-height: 2;
  color: #378965;
  background: #ffffff;
}

body .content #venueResults .row .col-xs-12 .panel a {
  color: #ffffff;
  text-decoration: underline;
}

body .content #venueResults .row .col-xs-12 .panel a:hover, body .content #venueResults .row .col-xs-12 .panel a:focus {
  text-decoration: none;
  opacity: 0.5;
  color: #ffffff;
}

body .content #venueResults .row .col-xs-12 .panel .contactDetails span {
  margin: 0 5px;
}
